.armorMenuItemsGrid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: -0.5em;
}

.armorMenuRow {
    min-height: 3.5em;
    font-weight: normal;
}

.armorMenuItemsGrid > * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    padding: 0.5em;
    text-align: center;
    border-top: 4px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.armorMenuItemsGrid > .firstCol {
    border-left: 0;
    padding-left: 1em;
}

.armorMenuItemsGrid > .lastCol {
    border-right: 0;
    padding-right: 1em;
}

.armorMenuItemsGrid > .armorMenuHeaderCell {
    font-weight: bold;
    border-top: 0;
}

.armorMenuButtonsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

@media only screen and (max-width: 600px) {
    .armorMenuItemsGrid {
        flex-grow: 1;
    }
}