.aspectMenuAspectValue {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overscroll-behavior: contain;
}

.aspectMenuAspectDetails {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    white-space: pre-line;
    line-height: 1.25em;
    overflow-y: auto;
    margin: -0.5em;
    padding: 0.5em;
}

.aspectMenuHorizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.aspectMenuHorizontal .retroButtonWrapper {
    padding: 1em;
}

@media only screen and (max-width: 600px) {
    .aspectMenuSmallScreenGrow {
        flex-grow: 1;
    }
}