.menuTitleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menuTitleBarTitle {
    font-weight: bold;
    font-size: 1em;
}

.centerMenuOuterDiv {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.centerMenuOuterDiv .retroButtonText {
    font-size: 1.25em;
}