.menuTitleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menuTitleBarTitle {
    font-weight: bold;
    font-size: 1em;
}

.centerMenuSeperator {
    margin-left: -1em;
    margin-right: -1em;
    border-top: 4px solid black;
}

.centerMenuOuterDiv {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.centerMenuOuterDiv .retroButtonText {
    font-size: 1.25em;
}

.menuTitleBarTitle .retroButtonText {
    font-size: 1em;
}