.menuTitleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menuTitleBarTitle {
    font-weight: bold;
    font-size: 1em;
}

.centerMenuSeperator {
    margin-left: -1em;
    margin-right: -1em;
    border-bottom: 4px solid black;
}

.centerMenuOuterDiv {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.centerMenuOuterDiv .retroButtonText {
    font-size: 1.25em;
}

.menuTitleBarTitle .retroButtonText {
    font-size: 1em;
}

@media only screen and (max-width: 600px) {
    .centerMenuOuterDiv {
        height: 100%;
    }
}