.confirmationMenuWrapperDiv {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

.confirmationMenuText {
    padding-top: 0.5em;
}

.confirmationMenuHorizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    align-items: end;
}

.confirmationMenuHorizontal .retroButtonWrapper {
    padding: 1em;
}