.confirmationMenuWrapperDiv {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

.confirmationMenuText {
    display: flex;
    align-items: center;
    white-space: pre-line;
    padding-top: 0.5em;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.confirmationMenuHorizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    align-items: end;
}

.confirmationMenuHorizontal .retroButtonWrapper {
    padding: 1em;
}

@media only screen and (max-width: 600px) {
    .confirmationMenuWrapperDiv {
        height: 100%;
    }

    .confirmationMenuText {
        flex-grow: 1;
    }
}