.healthMenuLabel {
    font-weight: bold;
}

.healthMenuVertical {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    text-align: center;
}

.healthMenuMainSection {
    margin: -0.5em;
    padding: 1em;
    gap: 1em;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.healthMenuHorizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    align-items: end;
}

.healthMenuHorizontal.healthMenuRestAndHitDice {
    padding-top: 0.5em;
}

.healthMenuHorizontal .retroButtonWrapper {
    padding: 1em;
}

.healthMenuGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 0.25em;
}

.healthMenuAddendums {
    white-space: pre-wrap;
}

@media only screen and (max-width: 600px) {
    .healthMenuWrapperDiv {
        height: 100%;
    }

    .healthMenuMainSection {
        flex-grow: 1;
    }
}