.hitDiceMenuWrapperDiv {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

.hitDiceToExpend {
    font-size: 2em;
}

.hitDiceMenuHorizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    align-items: end;
}