.hitDiceMenuWrapperDiv {
    display: flex;
    flex-direction: column;
    margin: -0.5em;
    padding: 1em;
    gap: 1em;
    text-align: center;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.hitDicemenuText {
    padding-top: 0.5em;
}

.hitDiceToExpend {
    font-size: 2em;
}

.hitDiceMenuHorizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    align-items: end;
}

.hitDiceMenuHorizontal .retroButtonWrapper {
    padding: 1em;
}

.hideHealControls {
    display: none;
}

@media only screen and (max-width: 600px) {
    .hitDiceMenuWrapperDiv {
        height: 100%;
    }

    .healthMenuMainSection {
        flex-grow: 1;
        justify-content: space-around;
    }
}