.loadMenuOuterWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.loadMenuSaveSlots {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: -0.5em;
    overflow-y: auto;
}

.loadMenuSaveSlot {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.loadMenuSaveSlot > *:first-child {
    flex: 1;
}

.loadMenuSaveSlot * {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loadMenuNoSaveData {
    font-size: 1.25em;
    width: 100%;
    text-align: center;
}

.loadMenuButtonsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

@media only screen and (max-width: 600px) {
    .loadMenuSaveSlots {
        flex-grow: 1;
    }
}