.resourcesMenuText {
    display: flex;
    flex-direction: column;
    margin: -0.5em;
    padding: 1em;
    gap: 1em;
    text-align: center;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.resourcesMenuButtons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
    align-items: end;
}

.resourcesMenuHorizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    align-items: end;
}

.resourcesMenuHorizontal .retroButtonWrapper {
    padding: 1em;
}

@media only screen and (max-width: 600px) {
    .resourcesMenuWrapperDiv {
        height: 100%;
    }

    .resourcesMenuText {
        flex-grow: 1;
    }
}