.spellMenuWrapperDiv {
    margin: -0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.spellMenuHorizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.spellMenuHorizontal .retroButtonWrapper {
    padding: 1em;
}

@media only screen and (max-width: 600px) {
    .spellMenuWrapperDiv {
        flex-grow: 1;
    }
}