.spellMenuWrapperDiv {
    margin: -0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.spellMenuCastingHorizontal {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
    text-align: center;
}

.spellMenuCastingVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    justify-content: space-between;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.slotsLeft {
    padding-bottom: 0.4em;
}

.spellMenuHorizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.spellMenuHorizontal .retroButtonWrapper {
    padding: 1em;
}

.spellMenuHealing {
    margin-top: -1em;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
    .spellMenuWrapperDiv {
        flex-grow: 1;
    }
}