.healthWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.15em
}

.healthBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-right: 0.5em;
    padding-left: 1.5em;
}

.healthBarValue {
    height: 1em;
    flex-grow: 1;
}

.healthBarFill {
    background-color: rgb(79,173,89);
    height: 100%;
}

.healthBarBloodied {
    background-color: rgb(200,162,18);
}

.healthBarCritical {
    background-color: rgb(188,21,28);
}

.tempHp {
  position: absolute;
  bottom: 0;
  height: 0.25em;
  background-color: rgb(82, 190, 242);
  z-index: 1;
}

.hp-bar-corners,
.hp-bar-corners--wrapper {
  clip-path: polygon(0px calc(100% - 4px),
    4px calc(100% - 4px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 4px,
    0px 4px);
  position: relative;
}
.hp-bar-corners {
  border: 4px solid transparent;
}
.hp-bar-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.hp-bar-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(4px 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) calc(100% - 4px),
    4px calc(100% - 4px));
}
.hp-bar-corners::after,
.hp-bar-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 4px),
    4px calc(100% - 4px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 4px,
    0px 4px,
    0px 50%,
    4px 50%,
    4px 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) calc(100% - 4px),
    4px calc(100% - 4px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  display: block;
  pointer-events: none;
}
.hp-bar-corners::after {
  margin: -4px;
}

.hp-corners,
.hp-corners--wrapper {
    clip-path: polygon(0px 100%,
        calc(100% - 8px) 100%,
        calc(100% - 8px) calc(100% - 4px),
        calc(100% - 4px) calc(100% - 4px),
        calc(100% - 4px) calc(100% - 8px),
        100% calc(100% - 8px),
        100% 0px,
        0px 0px);
    position: relative;
}
.hp-corners {
  border: 4px solid transparent;
}
.hp-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.hp-corners--wrapper .hp-corners {
  display: block;
  clip-path: polygon(4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px));
}
.hp-corners::after,
.hp-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 25%,
    calc(100% - 4px) 25%,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    0px calc(100% - 4px),
    6px calc(100% - 4px),
    6px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    18px calc(100% - 12px),
    18px calc(100% - 16px),
    24px calc(100% - 16px),
    24px calc(100% - 4px),
    0px calc(100% - 4px));
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.hp-corners::after {
  margin: -4px;
}