.proficienciesWrapper {
    padding: 0.5em;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 0.5em;
    row-gap: 5px;
}

.outer-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8em;
    width: 1.8em;
}

.dot {
    height: 1.25em;
    width: 1.25em;
}

.fill {
    background-color: black;
}

.half-fill {
    margin-top: 50%;
    height: 50%;
    background-color: black;
}