.outerSpellcastingDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.spellcastingDisplayTitle {
    padding: 0.5em;
    font-weight: bold;
}

.spellcastingDisplayGrid {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
}

.spellcastingDisplayGrid > .firstCol {
    border-left: 0;
    padding-left: 1em;
}

.spellcastingDisplayGrid > * {
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.5em;
    text-align: center;
    border-top: 4px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    align-content: center;
    white-space: pre-line;
}

.spellcastingDisplayGrid > .lastCol {
    border-right: 0;
    padding-right: 1em;
}

.spellcastingDisplayConcentratingOn {
    color: rgb(200,162,18);
}

.spellcastingDisplayRow {
    min-height: 3.5em;
    font-weight: normal;
}