.outerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.statName {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    /* I used to scale this fucking fatass font, but then I got smart and used the shortened versions: transform: scale(0.5,1); */
    padding: 0.5em;
}

.baseStatContainer {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0.5em;
    border-top: 2px solid black;
}

.modifier {
    font-size: 1.5em;
    padding: .1em;
}

.scoreContainer {
    display: flex;
    justify-content: center;
}

.circleAroundScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1.7em;
    width: 1.7em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.statDisplaystatLabel {
    /**/
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.abilityScore {
    font-size: 0.6em;
}

.saveAndSkillsWrapper {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    row-gap: 5px;
    width: 100%;
}

.saveAndSkillsWrapper > * {
    border-top: 2px solid black;
}

.proficencyCircleWrapper {
    display: flex;
    align-items: center;
    padding-left: 0.25em;
    padding-right: 0.25em;
    height: 2.0em;
}

.outer-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8em;
    width: 1.8em;
}

.dot {
    height: 1.25em;
    width: 1.25em;
}

.fill {
    background-color: black;
}

.half-fill {
    margin-top: 50%;
    height: 50%;
    background-color: black;
}

.skillModifier {
    text-align: end;
    height: 2.0em;
    line-height: 2.0em;
}

.proficencyScore {
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 2.0em;
    line-height: 2.1em;
    
    width: 100%;
    overflow: hidden;
}

.proficencyScoreText {
    font-size: 0.75em;
    text-wrap: nowrap;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 1px;
}

.boldText {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .proficencyScore {
        padding-left: 0.3em;
        padding-right: 0.3em;
    }

    .proficencyCircleWrapper {
        padding-left: 1px;
        padding-right: 1px;
    }
}