.outerbox {
    width: 5.5em;
    height: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.statName {
    padding-top: 1em;
    font-size: 16px;
    font-weight: bold;
    /* I used to scale this fucking fatass font, but then I got smart and used the shortened versions: transform: scale(0.5,1); */
}

.modifier {
    font-size: 2em;
    padding: .1em;
}

.circleAroundScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 14px;
    width: 26px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.abilityScore {
    font-size: 0.6em;
}