.outerDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.outerDiv > * {
    padding-bottom: 1em;
}

.playerName {
    padding-top: 0.5em;
    font-weight: bold;
}

.lvl {
    font-weight: bold
}

.prof {
    float: right;
}

.baseStats {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: baseline;
    row-gap: 1em;
}

@media only screen and (max-width: 1400px) {
    .baseStats {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 1200px) {
    .baseStats {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 900px) {
    .baseStats {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 600px) {
    .baseStats {
        grid-template-columns: auto;
        justify-content: center;
    }
}