.arrayGrid {
    display: grid;
    justify-items: stretch;
    column-gap: 0.5em;
    row-gap: 5px;
    width: 100%;
}

.removeButtonWrapper * {
    font-size: 1.3em;
    margin-left: auto;
}

.addButtonWrapper {
    padding-top: 0.5em;
}