.retroButtonWrapper {
    display: flex;
    user-select: none;
    cursor: pointer;
}

.triangle {
    visibility: hidden;
}

.hideTriangle {
    display: none;
}

.retroButtonWrapper:hover .triangle {
    visibility: visible;
}

.retroButtonWrapper:hover .retroButtonText {
    text-decoration: underline;
}

.retroButtonDisabled {
    pointer-events: none;
    text-decoration: line-through;
    color: black;
}