.retroButtonWrapper {
    display: flex;
    user-select: none;
    cursor: pointer;
}

.retroButtonWrapper * {
    white-space: nowrap;
}

.triangle {
    visibility: hidden;
}

.hideTriangle {
    display: none;
}

.retroButtonWrapper:hover .triangle {
    visibility: visible;
}

.retroButtonWrapper:hover .retroButtonText {
    text-decoration: underline;
}

.disabled {
    pointer-events: none;
    text-decoration: line-through;
    color: darkgrey;
}