.textInput {
    -webkit-appearance: none;
    appearance: none;
    border: 3px solid transparent;
    
    width: 100%;
}

.textArea {
    -webkit-appearance: none;
    appearance: none;
    border: 3px solid transparent;
    resize: none;
    
    width: 100%;
    height: 100%;
}