.featureSelectList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featureHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
    padding-bottom: 1em;
    text-align: center;
}

.featureHolder > * {
    width: 100%;
}

.selectFeatText {
    font-weight: bold;
    padding-bottom: .25em;
}