.outerbox {
    border: .15em solid black;
    width: 6em;
    height: 6em;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.statName {
    padding-top: 1em;
    font-size: 16px;
    font-weight: bold;
    /* This fucking fatass font, man... */
    transform: scale(0.5,1);
}

.modifier {
    font-size: 2em;
    padding: .1em;
}

.circleAroundScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    border: .1em solid black;
    border-radius: 50%;
}

.abilityScore {
    font-size: 0.6em;
}