.useSpellSlotVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    justify-content: space-between;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.useSpellSlotCastingHorizontal {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
    text-align: center;
}

.useSpellSlotHorizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.slotsLeft {
    padding-bottom: 0.4em;
}