.topDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  border-bottom: 4px solid black;
  background-color: lightgrey;
  padding-top: 5px;
  padding-bottom: 5px;
  /* Make top bar fixed in position. */
  position: fixed;
  top: 0;
  z-index: 1;
}

.appname {
  user-select: none;
  cursor: pointer;
  font-size: 1em;
  padding-left: 5px;
}

.appname:hover {
  font-weight: bold;
}

.startMenuButton {
  user-select: none;
  cursor: pointer;
  font-size: 2em;
  padding-right: 5px;
}

.startMenuButton:hover {
  font-weight: bold;
}

.startMenu {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2px;
  margin-right: 2px;
  /* Make sure Start Menu shows above top bar */
  position: fixed;
  z-index: 2;
}

.hide {
  display: none;
}

.viewDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  /* Since top bar is fixed in position, make sure all content shows. */
  margin-top: 2em;
}

.headerViewDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.undoRedoButtonWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.screenView {
  height: 100%;
  display: flex;
  justify-content: center;
}

.undoRedoButton {
  height: 3em;
  width: 10em;
}

.activeViewButton {
  height: 3em;
  width: 15em;
}

.inactiveView {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .inactiveViewForMobile {
    display: none;
  }

  .undoRedoButtonWrapper {
    padding-top: 1em;
  }
}