.topDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
}

.headerViewDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.undoRedoButtonWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.screenView {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.undoRedoButton {
  height: 3em;
  width: 10em;
}

.activeViewButtonWrapper {
  display: none;
}

.activeViewButton {
  height: 3em;
  width: 15em;
}

@media only screen and (max-width: 800px) {
  .inactiveViewForMobile {
    display: none;
  }

  .undoRedoButtonWrapper {
    padding-top: 1em;
  }

  .activeViewButtonWrapper {
    display: block;
  }
}