.baseStats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mobileDivider {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 1200px) {
    .mobileDivider {
        flex-direction: column;
    }
}