.itemPageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.5em;
    white-space: pre-line;
    line-height: 1.25em;
}

.itemPageDescription {
    padding-top: 0.75em;
}

.itemCopyButtonWrapper {
    padding-top: 0.5em;
}