.itemPageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.5em;
    white-space: pre-line;
    line-height: 1.25em;
}

.itemPageDescription {
    padding-top: 0.75em;
}

.propertyOfTheItem .retroButtonText {
    font-size: 1em;
    display: inline;
}

.propertyOfTheItem > .retroButtonWrapper {
    display: inline;
}