.itemPageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.5em;
    white-space: pre-line;
    line-height: 1.25em;
}

.itemPageDescription {
    padding-top: 0.75em;
}

.itemPageDescription:first-child {
    padding-top: 0;
}

.itemPageChildItem {
    padding-top: 0.5em;
    padding-bottom: 0.5em;;
}

.propertyOfTheItem .retroButtonText {
    font-size: 1em;
    display: inline;
}

.propertyOfTheItem > .retroButtonWrapper {
    display: inline;
}

.imagePageAmmoHolder {
    display: flex;
    flex-direction: row;
}

.imagePageSingleBulletNormal {
    background-color: #ffca00;
}

.imagePageSingleBulletEmpty {
    background-color: #163050;
}

.imagePageSingleBullet {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    justify-content: end;
    width: 1.5em;
    height: 3em;
}

.imagePageSingleBulletBottomOfShell {
    width: 100%;
    height: 0.5em;
    border-top: 4px solid black;
}