.spellPageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.5em;
    white-space: pre-line;
    line-height: 1.25em;
}

.spellPageBold {
    font-weight: bold;
}

.spellPageDescription {
    padding-top: 0.75em;
}

.spellPageDescription:first-child {
    padding-top: 0;
}